<%= form_for [current_user, @team] do |f| %>

  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@team.errors.count, "error") %>
        prohibited team from being saved:
      </h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <ul>
    </div>
  <% end %>

  <%= f.label :name, "Team name" %><br>
  <%= f.text_field :name %><br>

  <%= f.submit 'Create Team' %>

<% end %>
