<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: center;">

      <h2 align="center">
        <%= simple_form_for @team do |f| %>

        <%= f.error_notification %>

        <% if @team.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@team.errors.count, "error") %>
              prohibited team from being saved:
            </h2>
            <ul>
            <% @team.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.label :name, "Edit: #{@team.name}" %><br><br>
        <%= f.input :name %><br>

        <%= f.input :category %>

        <%= f.collection_select :category, Team.all.order(:category), :id, :category, {include_blank: "Select frome existing categories"} %>

        <br><br>

        <%= f.submit 'Update Team' %>
      <% end %></h1><br>

    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/355948/pexels-photo-355948.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>

    <br>

    <%= link_to "Delete Team", team_path(@team), method: :delete %>

  </div>
</div>
