<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

    <% if !current_user.teams.empty? %>

      <% if current_user.team_admin == true %>
        <h2>Current teams: <%= current_user.teams.length %></h2>
        <% current_user.memberships.each do |member| %>
          <li>
          <%= link_to "#{member.team_id.capitalize}", team_path(team.id) %>
          </li>
        <% end %>
      <% else %>
        <h3 align="center"><%= link_to "Start a team", new_user_team_path(current_user) %></h3>
      <% end %>

    <% else %>
      <h3>You are not admin. Change <%= link_to "admin status", edit_profile_path(current_user) %></h3>
    <% end %>

    <% if !!@current_projects %>
      <% if @current_projects.size == 1 %>
        <h3 align="center">You are active on <%= "#{@current_projects.size} project" %> </h3>
      <% elsif @current_projects.size >= 2 %>
        <h3 align="center">You are active on <%= "#{@current_projects.size} projects" %> </h3>
      <% end %>
    <% end%>




    </div>
  </div>

  <br>

  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/1266005/pexels-photo-1266005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>

</div>
