<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
      <% if @team_update_message %>
        <p><%= @team_update_message %></p>
      <% end %>

      <h1>Team: <%= "#{@team.name.gsub(/"|\[|\]/, '').capitalize}" %></h1>
      <h4>Category: <%= @team.category %></h4>


      <% if @project_delete_message %>
        <p><%= @project_delete_message %></p>
      <% end %>

      <% if !@team.projects.empty? && !!@team_admin_id%>
        <h2>Your projects: <%= @team.projects.length %></h2>

        <% @team.projects.each do |project| %>
          <li>
          <%= link_to "#{project.name.capitalize}", project_path(project.id) %>
          </li>
        <% end %>
      <% elsif !!@team_admin_id %>
        <h3 align="left">No projects yet. Need ideas?</h3>
        <h3 align="left"><%= link_to "Start project", new_team_project_path(@team.id) %></h3>
      <% else %>
        <h3 align="left">No projects yet. Suggest ideas to team admin.</h3>
      <% end %><br>
    </div>
  </div>

  <br>

  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>

</div>
