
<% if @success_message %>
  <p><%= @success_message %></p>
<% end %>

<% if @failure_message %>
  <p><%= @failure_message %></p>
<% end %>

<% if @incomplete_message %>
  <p><%= @incomplete_message %></p>
<% end %>

<div>
  <ul align="center">
    <% if !!@projects && @projects.length > 0 %>
      <h2>Current projects: <%= @projects.length %></h2>
      <ol>
        <% @projects.each do |p| %>
          <li>
          <%= link_to "#{p.name}", team_project_path(@team) %>
          </li>
        <% end %>
      </ol>
    <% else%>
      <h1 align="center">Team: <%= @team.name %></h1>
      <%= link_to "Create a project",  new_team_project_path(@team) %>
      
      <br><br>

      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>
      <br>
      <%= link_to "Edit #{@team.name}", edit_team_path(@team) %><br>
  <% end %><br>
  </ul>
</div>
