<div>

  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/207896/pexels-photo-207896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  </div>

  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">


      <% if !@teams.empty? %>
        <h2>ProjectManageable's live teams: <%= @teams.length %></h2>

        <% @teams.each do |team| %>
          <li>
          <%= link_to "#{team.name.gsub(/"|\[|\]/, '')}", team_path(team) %>
          </li>
        <% end %>

        <% if !!@current_projects %>
          <% if @current_projects.size == 1 %>
            <h3>You are active on <%= "#{@current_projects.size} project" %> </h3>
          <% elsif @current_projects.size >= 2 %>
            <h3>You are active on <%= "#{@current_projects.size} projects" %> </h3>
          <% end %>
          <% current_user.teams.each do |team| %>
            <li>
            <%= link_to "#{team.name.capitalize}", team_path(team.id) %>
            </li>
          <% end %>
        <% end %>

      <% end %>

    </div>
  </div>

</div>
