<% if @incomplete_message %>
  <p><%= @incomplete_message %></p>
<% end %>

<% if @failure_message %>
  <p><%= @failure_message %></p>
<% end %>


<%= form_for :user, url: '/signin' do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.collection_select(:name, User.all, :id, :name, prompt: "Select your name") %><br>
  <br>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit "Sign In" %>
<% end %>

<br><br>

<p>New user? <%= link_to "Sign Up", signup_path %><p>
<p>Log In <%= link_to "Google Account", '/auth/google_oauth2' %><p>
