<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: center;">

      <h2 align="center">Edit task: <%= @task.comment.capitalize %></h2>

      <%= simple_form_for [@project, @task] do |f| %>

      <%= f.error_notification %>

      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@task.errors.count, "error") %>
            prohibited team from being saved:
          </h2>

          <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
          <ul>
        </div>
      <% end %>

      <%= f.input :comment %><br>

      <%= f.label :Status, "check box if task complete" %>

      <%= f.check_box :status, {}, true, false %>


      <br><br>

      <%= f.submit 'Update task' %>

      <% end %>

    </div>
  </div>
</div>
