<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if !!current_user %>

        <% if @topic.posts.empty? %>
          <h1 align="center">Project Status: pending</h1>

          <h3 align="center"><%= link_to "Add a post", new_topic_post_path(@topic) %> to change status to active. </h3>

        <% else %>
          <h1 align="center">Project Status: active</h1>
          <h3 align="center"><%= link_to "Add new post", new_topic_post_path(@topic) %></h3>
        <% end %>

        <h3 align="center"><%= link_to "Invite new member",  new_member_path(@topic) %></h3>


      <% end %>

      <br><br>

      <h2>Edit your topic: <%= @topic.name %></h2>

      <%= simple_form_for @topic do |f| %>

        <%= f.error_notification %>

        <br>

        <h3>General topic info:</h3>

        <%= f.input :name, include_blank: false %><br><br>

        <%= f.input :description, include_blank: false %><br><br>

        <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, {include_blank: "Select frome existing categories"} %>

        <br><br>

        <%= f.submit 'Update' %>

      <% end %>

      <br><br>

      <h3>Delete Topic?</h3>
      <%= link_to "Yes, delete", topic_path(@topic), method: :delete %>

      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/316465/pexels-photo-316465.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
      </div>
    </div>
  </div>
</div>
