<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if !!current_user %>
        <% if @topic.posts.empty? %>
          <h1 align="center">Project Status: pending</h1>

          <h3 align="center"><%= link_to "Add a post", new_topic_post_path(@topic) %> to change status to active. </h3>

        <% else %>
          <h1 align="center">Project Status: active</h1>
          <h3 align="center"><%= link_to "Add new post", new_topic_post_path(@topic) %></h3>
        <% end %>

        <h3 align="center"><%= link_to "Invite new member",  new_member_path(@topic) %></h3>
      <% end %>


      <h1>Edit your topic: <%= @topic.name %></h1>

      <%= simple_form_for @topic do |f| %>

        <%= f.error_notification %>

        <h3>General topic info:</h3>

        <%= f.input :name, include_blank: false %><br>

        <%= f.input :description, include_blank: false %><br>

        <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, {include_blank: "Select frome existing categories"} %>

        <br><br>

        <%= f.submit 'Update', class: "btn btn-lg btn-primary" %>

      <% end %>

      <br><br>

      <%= button_to "Delete Topic", { :action => "destroy" }, class: "btn btn-lg btn btn-danger", :method => :delete, data: { confirm: "Are you sure?" } %>

    </div>
  </div>
</div>
