<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h3 align="center">Topic: <%= link_to "#{@topic.name}",  edit_topic_path(@topic) %></h3>
      <h3 align="center">Description: <%= @topic.description %></h3>
      <p>Category: <%= @category_by_name %></p>
      <p>Admin: <%= @admin_by_name %></p>

      <br><br>

      <li><%= link_to "New posts", new_topic_path, :class=> "new_topic", :remote => true %></li>
      <div class = "new_posts">
        <h3>

        </h3>
      </div>

      <%= simple_form_for [@topic, @post] do |f| %>
        <%= f.input :name %><br>
        <%= f.input :description %><br>
        <%= submit_tag "New Post" %>
      <% end %>

      <br><br>

      <% if !@current_posts.empty?%>
        <li><%= link_to "Load posts", topic_posts_path(@topic), :class=> "posts", :remote => true %></li>
        <br><br>

        <div class = "posts">
          <h3>

          </h3>
        </div>

      <% end %>
    </div>
  </div>
</div>
