<%= simple_form_for [@project, @team_member] do |f| %>

  <%= f.error_notification %>

  <% if @team_member.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@team_member.errors.count, "error") %>
        prohibited this team member from being saved:
      </h2>

      <ul>
      <% @team_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <ul>
    </div>
  <% end %>

  <%= f.input :id,:collection => User.all,:label_method => :name,:value_method => :id,:label => "Select Name",:include_blank => false %><br>

  <%= f.submit "Invite Member" %>

  <br><br>
<% end %>
