<div>

  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/1266005/pexels-photo-1266005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>

  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if @member_deleted_message %>
        <p><%= @member_deleted_message %></p>
      <% end %>

      <% if @member_success_message %>
        <p><%= @member_success_message %></p>
      <% end %>

      <% if @current_members.size > 0 %>
        <h2>Your team: <%= @current_members.length %></h2>

        <% @current_members.each do |member| %>
          <li>
          <%= link_to "#{member.name.capitalize}", team_member_path(member.id) %>
          </li>
        <% end %>

      <% else %>
        <h3 align="center"><%= link_to "Invite another member", new_project_team_member_path(@project) %></h3>
      <% end %>

    </div>
  </div>

</div>
