<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if @member_delete_message %>
        <p><%= @member_delete_message %></p>
      <% end %>

      <% if @member_success_message %>
        <p><%= @member_success_message %></p>
      <% end %>

      <h2>Project: <%= @project.name %></h2>

      <% if @current_members.size > 0 %>
        <h3>Team members: <%= @current_members.length %></h3><br>
        <h4><%= link_to "Add another team member", new_project_team_member_path(@project) %></h4>

        <% @current_members.each do |member| %>
          <li>
          <%= link_to "#{member.user_id}", project_team_member_path(@project, member.id) %>
          </li>
        <% end %>
      <% else %>
        <h3><%= link_to "Invite team members", new_project_team_member_path(@project) %></h3>
      <% end %>

    </div>
  </div>

  <br>

  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/1266005/pexels-photo-1266005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>

</div>
