<%= simple_form_for current_user do |f| %>

  <%= f.error_notification %>
  <br><br>

  <p>
    Country:
    <%= f.country_select :country_code %><br>
    <%= f.input :time_zone %>
  </p>

  <%= f.input :interest %>

</div>

  <br><br>

  <div style="text-align: center;">
    <%= f.submit 'Update Profile', class: "btn btn-lg btn-primary" %>
  </div>

  <br><br>

<% end %>
