<%= form_for @user, url: '/signup'  do |f| %>

  <% if @user.errors.any? %>
  <% if @failure_message %>
    <p><%= @failure_message %></p>
  <% end %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>
        prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <ul>
    </div>
  <% end %>




  <%= f.label :name %><br>
  <%= f.text_field :name %>

  <br><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %>

  <br><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %>

  <br><br>

  <%= f.submit 'Create Account' %>

<% end %>

<br><br>

<p>Existing user? <%= link_to "Sign In", signin_path %><p>
<p>Sign up with <%= link_to "Google Account", '/auth/google_oauth2' %><p>
