<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
      <h1 align="center">Edit profile:</h1>

        <%= simple_form_for current_user do |f| %>

          <%= f.error_notification %>
          <br><br>

          <%= f.label :team_admin, label: "check box if you're admin" %>

          <%= hidden_field_tag :team_admin, 'false' %>
          <%= f.input :team_admin, as: :boolean, checked_value: 'true', unchecked_value: 'false' %>
          <br><br>

          <%= f.input :time_zone %><br>
          <%= f.input :language %><br>
          <%= f.input :interest %><br>
          <%= f.input :interest %><br>

          <br>

          <%= f.submit 'Update Profile' %>

        <% end %>

    </div>
  </div>
</div>
