<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
      <h1 align="center">Edit profile:</h1>

        <%= simple_form_for current_user do |f| %>

          <%= f.error_notification %>
          <br><br>

          <%= f.input :time_zone %><br>
          <%= f.input :language %><br>
          <%= f.input :gender %><br>
          <%= f.input :interest %><br>

          <br>

          <%= f.submit 'Update Profile' %>

        <% end %>

    </div>
  </div>
</div>
