<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h3 align="center">Hi <%= current_user.name.capitalize %>, what are you working on today?</h3>

    <% if !@current_teams.empty? %>
      <% if current_user.team_admin == true %>
        <% if @admin_teams.size == 1 %>
          <h3 align="center">You are admin on <%= link_to "#{@admin_teams.size} team", admin_teams_path %> </h3>
        <% elsif current_user.teams.size >= 2 %>
          <h3 align="center">You are admin on <%= link_to "#{@admin_teams.size} teams", admin_teams_path %> </h3>
        <% else %>
          <h3 align="center"><%= link_to "Create a team",  new_admin_team_path %></h3>
        <% end %>
      <% end %>
      <% if !!@current_teams %>
        <h3 align="center">See your team membership - <%= link_to "#{@current_teams.size} team", teams_path %> </h3>
      <% end %>
    <% end %>

    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/954599/pexels-photo-954599.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>

    </div>
  </div>
</div>
