<% if @success_message %>
  <p><%= @success_message %></p>
<% end %>

<% if @failure_message %>
  <p><%= @failure_message %></p>
<% end %>

<% if @incomplete_message %>
  <p><%= @incomplete_message %></p>
<% end %>


<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
    <h1 align="center">Hi, <%= current_user.name %></h1>
    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>
    <% if @user.teams.size > 0 %>
    <h3 align="center">You are active on <%= link_to "#{@user.teams.size} teams", current_teams_path(current_user) %> </h3>
    <% else %>
      <h2 align="center"><%= link_to "Create a team", new_user_team_path(current_user) %></h2>
    <% end %>
    </div>
  </div>
</div>
