<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h1>Account Info</h1>

      <% if current_user.status == false %>
        <h2>Status: pending</h2>
        <p>Your account is <b>pending</b>, fill out profile info. </p>
      <% else %>
        <h2>Status: active</h2>
      <% end %>


      <p><strong>Name:</strong> <%= current_user.name%><p>
      <p><strong>Email:</strong> <%= current_user.email%></p><br>

      <p><strong>Time zone:</strong> <%= current_user.time_zone%></p>
      <p><strong>Language:</strong> <%= current_user.language%></p>
      <p><strong>Interest:</strong> <%= current_user.interest%></p>

      <p><%= link_to "Edit Profile", edit_profile_path(current_user) %></p><br>

      <div style="width: 400px;margin:auto">
        <img style="width: 400px" src="https://images.pexels.com/photos/1307104/pexels-photo-1307104.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>

    </div>
  </div>
</div>
