<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h1>Account Info</h1>

      <% if current_user.status == false %>
        <p><%= link_to "Status: Pending", edit_user_path(current_user), :class=> "edit_profile", :remote => true %></p>

        <p>Your account is <b>pending</b>, fill out profile info. </p>
      <% else %>
        <p>Status: active</p>
        <p><%= link_to "Edit Profile", edit_user_path(current_user), :class=> "edit_profile", :remote => true %></p>
      <% end %>


      <p><strong>Name:</strong> <%= current_user.name %><p>
      <p><strong>Email:</strong> <%= current_user.email %></p><br>

      <p><strong>Time zone:</strong> <%= current_user.time_zone %></p>
      <p><strong>Country:</strong> <%= current_user.country_code %></p>
      <p><strong>Interest:</strong> <%= current_user.interest %></p>


      <div class = "edit_profile">
        <ul>

        </ul>
      </div>



    </div>
  </div>
</div>
