<div class="center jumbotron">
      <h1>Account Info</h1>

      <% if current_user.status == false %>
        <h2>Status: pending</h2>
        <p>Your account is <b>pending</b>, fill out profile info. </p>
      <% else %>
        <h2>Status: active</h2>
      <% end %>


      <p><strong>Name:</strong> <%= current_user.name %><p>
      <p><strong>Email:</strong> <%= current_user.email %></p><br>

      <p><strong>Time zone:</strong> <%= current_user.time_zone %></p>
      <p><strong>Country:</strong> <%= current_user.country_code %></p>
      <p><strong>Interest:</strong> <%= current_user.interest %></p>

      <p><%= link_to "Edit Profile", edit_profile_path(current_user) %></p><br>
</div>
