<% if @success_message %>
  <p><%= @success_message %></p>
<% end %>

<% if @failure_message %>
  <p><%= @failure_message %></p>
<% end %>

<% if @incomplete_message %>
  <p><%= @incomplete_message %></p>
<% end %>


<div>
  <h1 align="center">Hi, <%= current_user.name %></h1>
  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>
  <h1 align="center"><%= link_to "Create a team", new_user_team_path(current_user) %></h1>
</div>
