<%= simple_form_for [@team, @project] do |f| %>

  <%= f.error_notification %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %>
        prohibited team from being saved:
      </h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <ul>
    </div>
  <% end %>

  <%= f.label :name, "Project Name" %><br>
  <%= f.text_field :name %>

  <br><br>

  <%= f.label :description %><br>
  <%= f.text_field :description %>

  <br><br>

  <%= f.label :project_admin, "check box if you're the project admin" %>
  <%= f.check_box :project_admin , {}, "true", "false" %><br><br>

  <%= f.submit 'Create Project' %>

<% end %>
