<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h1 align="center">Edit your project</h1>

      <%= simple_form_for @project do |f| %>

        <%= f.error_notification %>

        <br><br>


        <%= f.input :name, include_blank: false %><br><br>

        <%= f.input :description, include_blank: false %><br><br>

        <%= f.collection_select :category_id, Category.all.order(:name), :id, :name, {include_blank: "Select frome existing categories"} %>

        <br><br>

        <%= f.submit 'Update' %>

      <% end %>

      <br><br>

      <h3><%= link_to "Add post", new_project_post_path(@project) %></h3>

      <br><br>

      <h3>Delete Project?</h3>
      <%= link_to "Yes, delete", project_path(@project), method: :delete %>



      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/316465/pexels-photo-316465.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
      </div>
    </div>
  </div>
</div>
