<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: center;">

      <h2 align="center">Edit Project: <%= @project.name %></h2><br>

        <%= simple_form_for @project do |f| %>

        <%= f.error_notification %>

        <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@project.errors.count, "error") %>
              prohibited team from being saved:
            </h2>
            <ul>
            <% @project.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.input :name %><br>

        <%= f.input :description %><br>

        <%= f.input :category %><br>

        <%= f.collection_select :category, Project.all.order(:category), :id, :category, {include_blank: "Select frome existing categories"} %>

        <br><br>

        <%= f.submit 'Update Project' %>
      <% end %>

      <br>

    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/355948/pexels-photo-355948.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>

    <br>

    <%= link_to "Delete Project", project_path(@project), method: :delete %>

  </div>
</div>
