<div>

  <div style="width: 500px;margin:auto">
    <img style="width: 500px" src="https://images.pexels.com/photos/1266005/pexels-photo-1266005.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
  </div>

  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if @project_deleted_message %>
        <p><%= @project_deleted_message %></p>
      <% end %>

      <% if @project_success_message %>
        <p><%= @project_success_message %></p>
      <% end %>

      <% if !@current_projects.empty? %>
        <h2>Your projects: <%= @current_projects.length %></h2>

        <% @current_projects.each do |project| %>
          <li>
          <%= link_to "#{project.name.capitalize}", project_path(project.id) %>
          </li>
        <% end %>

      <% else %>
        <h3 align="center"><%= link_to "Create a project", new_team_project_path(@team) %></h3>
      <% end %>

    </div>
  </div>

</div>
