<div>
  <ul align="center">

    <% if @success_message %>
      <p><%= @success_message %></p>
    <% end %>

    <% if @incomplete_message %>
      <p><%= @incomplete_message %></p>
    <% end %>

    <% if !!@projects && @projects.length > 0 %>
      <h2>Current projects: <%= @projects.length %></h2>
      <ol>
        <% @projects.each do |p| %>
          <li>
          <%= link_to "#{p.name}", team_project_path(@team) %>
          </li>
        <% end %>
      </ol>
    <% else%>
      <h1>Project: <%= @project.name %></h1>
      <h3>Team: <%= link_to @team.name, @team %></h3><br>

      <p>Description: <%= @project.description %></p>
      <br>

      <h3><%= link_to "Add team members", new_project_team_member_path(@project) %></h3><br>

      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/908295/pexels-photo-908295.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>

  <% end %>
  </ul>
</div>
