<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h3>Project: <%= link_to "#{@project.name}",  edit_project_path(@project) %></h3>
      <h3>Description: <%= @project.description %></h3>
      <p>Category: <%= @category_by_name %></p>
      <p>Project admin: <%= @admin_by_name %></p>


      <% if !@current_posts.empty?%>

        <%= form_tag @posts, method: :get do %>
        <%= select(:sort, "filters", options_for_select(@filters)) %>
        <%= submit_tag "Sort" %>
        <% end %>

      <% end %>

      <br>

      <% @current_posts.each do |post| %>
        <!-- <% if post.status == true %> -->
          <h4> Inactive - <%= link_to "#{post.name}", edit_project_post_path(post.project_id, post.id) %></h4>
        <!-- <% else %> -->
          <h4> Active - <%= link_to "#{post.name}", edit_project_post_path(post.project_id, post.id) %></h4>
        <% end %>
      <% end %>

       <br>

      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/908295/pexels-photo-908295.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>

    </div>
  </div>
</div>
