<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

    <% if @success_message %>
      <p><%= @success_message %></p>
    <% end %>

    <% if @incomplete_message %>
      <p><%= @incomplete_message %></p>
    <% end %>

    <% if !!@projects && @projects.length > 0 %>
      <h2>Current projects: <%= @projects.length %></h2>

      <ol>
        <% @projects.each do |p| %>
          <li>
          <%= link_to "#{p.name}", team_project_path(@team) %>
          </li>
        <% end %>
      </ol>

    <% else %>

      <h1>Project: <%= @project.name %></h1>
      <h3>Team: <%= link_to @team.name, @team %></h3>
      <p>Description: <%= @project.description %></p><br>

      <% if !!@project.team_members && !!@project_admin_id%>
        <% if @project.team_members.size == 1 %>
          <h4>There is currently <%= link_to "#{@project.team_members.size} active member", project_team_members_path(@project) %></h4>
        <% elsif @project.team_members.size >= 2 %>
          <h4>There are currently <%= link_to "#{@project.team_members.size} active members", project_team_members_path(@project) %></h4>
        <% end %>
          <h4><%= link_to "Add a team member", new_project_team_member_path(@project) %></h4><br>
      <% else %>
        <h3>Team members are unavailable</h3><br>
      <% end %>

    <% end %>

    <br>

    <div style="width: 500px;margin:auto">
      <img style="width: 500px" src="https://images.pexels.com/photos/908295/pexels-photo-908295.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
    </div>

  </div>
</div>
