<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if @success_message %>
        <p><%= @success_message %></p>
      <% end %>

      <% if @incomplete_message %>
        <p><%= @incomplete_message %></p>
      <% end %>

      <% if @admin_failure_message %>
        <p><%= @admin_failure_message %></p>
      <% end %>

      <h1>Project: <%= @project.name %></h1>
      <h3>Team: <%= link_to @team.name, @team %></h3>
      <h3>Description: <%= @project.description %></h3>

      <% if !@current_tasks.empty? %>
        <% @current_tasks.each do |task| %>
          <li>
            <%= task.comment %>
          </li>
        <% end %>
      <% end %>

      <% if !!@user_admin%>
        <h3><%= link_to "Add tasks", new_project_task_path(@project) %></h3>
      <% else %>
        <h3>No new tasks</h3><br>
      <% end %>

       <br>

      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/908295/pexels-photo-908295.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>

    </div>
  </div>
</div>
