<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if @success_message %>
        <p><%= @success_message %></p>
      <% end %>

      <% if @incomplete_message %>
        <p><%= @incomplete_message %></p>
      <% end %>

      <% if @admin_failure_message %>
        <p><%= @admin_failure_message %></p>
      <% end %>

      <% if @task_success_message %>
        <p><%= @task_success_message %></p>
      <% end %>

      <h1>Project: <%= @project.name %></h1>
      <h3>Team: <%= link_to @team.name, @team %></h3>
      <h3>Description: <%= @project.description %></h3>


      <% if @current_tasks.size > 1 %>

      <%= form_tag @project, method: :get do %>
      <%= select(:sort, "filters", options_for_select(@filters)) %>
      <%= submit_tag "Sort" %>
      <% end %>

      <br>

        <% @current_tasks.each do |task| %>
          <li>
            <%= task.status %> - <%= link_to task.comment,  edit_project_task_path(task.project_id, task.id)  %> - <%= task.formatted_updated_at %>
          </li>
        <% end %>

      <% end %>

      <% if !!@team_admin%>
        <h3><%= link_to "Add tasks", new_project_task_path(@project) %></h3>
      <% else %>
        <h3>No new tasks</h3><br>
      <% end %>

       <br>

      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/908295/pexels-photo-908295.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>

    </div>
  </div>
</div>
