<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <% if @success_message %>
        <p><%= @success_message %></p>
      <% end %>

      <% if @incomplete_message %>
        <p><%= @incomplete_message %></p>
      <% end %>

      <% if @admin_failure_message %>
        <p><%= @admin_failure_message %></p>
      <% end %>

      <h1>Project: <%= @project.name %></h1>
      <h3>Team: <%= link_to @team.name, @team %></h3>
      <h3>Description: <%= @project.description %></h3>

      <% if @current_members.size > 0 %>

        <h3>Team members: <%= @current_members.length %></h3>
        <% @current_members.each do |member| %>
          <li>
            <%= link_to "#{member.user_id}", member_profile_path(member.user_id) %>
          </li>
        <% end %>

        <% if !!@project_admin_id %>
          <h4>Admin: <%= link_to "edit project members", project_team_members_path(@project) %></h4>
        <% end %>

      <% elsif @current_members.empty? && @project_admin_id%>
        <h3><%= link_to "Invite team members", new_project_team_member_path(@project) %></h3>
      <% else %>
        <h3>Team members are unavailable</h3><br>
      <% end %>

       <br>

      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/908295/pexels-photo-908295.jpeg?auto=compress&cs=tinysrgb&h=650&w=940">
      </div>

    </div>
  </div>
</div>
