<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h1 align="center">Edit Post: <%= @post.name %></h1>
      <h3 align="center">Topic: <%= @topic.name %></h3>

      <%= simple_form_for [:topic, @post] do |f| %>

        <%= f.error_notification %>

        <br><br>


        <%= f.input :name, include_blank: false %><br><br>

        <%= f.input :description, include_blank: false %><br><br>

        <br>

        <%= f.label :status, "check box if completed" %>

        <%= f.check_box :status, {}, true, false %>


        <br><br>

        <%= f.submit 'Update' %>

      <% end %>

      <br><br>

      <%= link_to "Delete Post", topic_path(@topic), method: :delete %>



      <div style="width: 500px;margin:auto">
        <img style="width: 500px" src="https://images.pexels.com/photos/316465/pexels-photo-316465.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
      </div>
    </div>
  </div>
</div>
