<div>
  <div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">

      <h1 align="center">Edit Post: <%= @post.name %></h1>
      <h3 align="center">Topic: <%= @topic.name %></h3>

      <%= simple_form_for [:topic, @post] do |f| %>

        <%= f.error_notification %>

        <br><br>


        <%= f.input :name, include_blank: false %><br>

        <%= f.input :description, include_blank: false %><br>

        <%= f.label :status, "check box if completed" %>

        <%= f.check_box :status, {}, true, false %>


        <br><br>

        <%= f.submit 'Update', class: "btn btn-lg btn-primary" %>

      <% end %>

      <br><br>

      <%= button_to "Delete Post", { :action => "destroy" }, class: "btn btn-lg btn btn-danger", :method => :delete, data: { confirm: "Are you sure?" } %>

    </div>
  </div>
</div>
