<h3>Project: <%= link_to "#{@project.name}",  edit_project_path(@project) %></h3>
<h3>Description: <%= @project.description %></h3>

<h3><%= link_to "Add post", new_project_post_path(@project) %></h3>


<% if !@current_posts.empty?%>

  <%= form_tag @posts, method: :get do %>
  <%= select(:sort, "filters", options_for_select(@filters)) %>
  <%= submit_tag "Sort" %>
  <% end %>

<% end %>

<br>

<% current_user.posts.each do |post| %>
  <% if post.status == true %>
    <h4> Inactive - <%= link_to "#{post.name}", edit_project_post_path(post.project_id, post.id) %></h4>
  <% else %>
    <h4> Active - <%= link_to "#{post.name}", edit_project_post_path(post.project_id, post.id) %></h4>
  <% end %>
<% end %>
