<footer class="footer">
  <div class="container">
    <small>
      <%= link_to 'WildCraft Forager App', 'https://github.com/JulJen/wildcraft-forager-app', target: :_blank %>

      <copyright>
        &copy;
        <%= link_to 'Julia Jen', 'https://www.linkedin.com/in/juliajen/', target: :_blank %>
        <%= Time.now.year %>
      </copyright>

    </small>


    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Resources", reading_path %></li>
        <li><%= link_to "Contact", reading_path %></li>
      </ul>
    </nav>
  </div>
</footer>
