<% if current_user %>
  <strong>Project Manageable</strong><br>
  <li><%= link_to "Dashboard", main_path %></li>
  <li><%= link_to "#{current_user.name.capitalize}'s profile", profile_path(current_user) %></li>
  <li><%= link_to "Public Projects", categories_path%></li>
  <li><%= link_to "Your Projects", projects_path%></li>
  <li><%= link_to "Create a project",  new_project_path %></li>
  <li><%= link_to "Log Out", logout_path, method: :delete %></li>

<% elsif current_page?(:controller => 'application', :action => 'welcome') %>
  <br><h1 align="center"><%= link_to 'Project Manageable', enter_path %></h1><br>
  <div style="width: 728px;margin:auto">
    <img style="width: 728px" src="https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  </div>
<% end %>

<br><br>
