<!DOCTYPE html>
<html>
  <head>
    <title>WildCraft Healer App</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <%= render 'layouts/shim' %>

  <div class= "container">
    <body>
      <%= render 'layouts/header' %>

      <div style="text-align: center;">
        <%- flash.each do |name, message| %>
          <p><i><%= "#{name}: #{message}" %></i></p>
        <% end %>
        <!-- <%= debug(params) if Rails.env.development? %> -->
      </div>

      <%= yield %>
    <%= render '/layouts/footer' %>
  </div>

  <script src="jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  
  </body>

</html>
