<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManageableApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4 align="left"><%= render partial: "layouts/navbar", locals: {user: current_user} %></h4>

    <div style="text-align: center;">
      <%- flash.each do |name, message| %>
        <p><i><%= "#{name}: #{message}" %></i></p>
      <% end %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <%= yield %>
  </body>
</html>
