<%= simple_form_for [@team, @member] do |f| %>

  <%= f.error_notification %>

  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@member.errors.count, "error") %>
        prohibited this team member from being saved:
      </h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <ul>
    </div>
  <% end %>

  <%= f.label :name%>

  <%= f.collection_select :user_id, User.all.order(:name), :id, :name, {include_blank: "Please select"} %>

  <br><br>

  <%= f.submit "Invite Member" %>

  <br><br>
<% end %>
